search {
    position: absolute;
    text-align: center;
    font-size: 50px;
    font-family: monospace, 'Arial Narrow Bold', sans-serif;
    color: white;
    width: 415px;
    padding-left: 5px;
    padding-bottom: 5px;

    

    display:flex;
    flex-direction: column;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);


    background: rgba(76, 76, 76, 0.5);
    border-radius: 10px;
    border-color: grey;
    border-style:solid;
    border-width: 1;
}

searchOptions{
    display: inherit;
    flex-direction: row;
}

popup{
    height: 0px;
    transform: translate(-0.7%, 0);

    font-size: x-large;
    font-style:oblique;
    font-family: monospace, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: black;

    
    background-color: rgba(255, 255, 255, 0.644);
    border-width: 5px;
    border-radius: 10px;
    border-color: black;
}

#MainTitle{
    right:2%;
}

#Author {
    position: relative;
    right: 2%
}

#SearchBox{
    position: absolute;
    right: 4%;
    background: rgba(255, 255, 255, 0.4);
    color: black;


    border-width: 2px;
    border-radius: 10px;
} ::placeholder {
    color:black
}




.Selectable{
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border-color: grey;
    border-style:solid;
    border-width: 1;
}